<div class="container-fluid">
	<div class="contactHeader">Meet The Stylists!</div>
	<div class="clearfix stylistsBorder">
		<div class="col-xs-6 col-sm-4">
			<img class="img-responsive img-circle" src="https://s3-us-west-2.amazonaws.com/slack-files2/avatars/2015-03-05/3943763926_bca0b213dd19cc7e39b9_192.jpg">
		</div>
		<div class="col-xs-12 col-sm-6 col-md-8">
			<h1 class="staffName">Christine Lau</h1>

			<p class="blurb">Christine is a veteran that specializes in a variety of styles. With more than two years of styling under her belt you're in good hands no matter your style needs. The main styles that Christine likes to focus on is preppy, classic, and business casual.</p>

			<div>
				<a class="links" href="https://www.linkedin.com/profile/view?id=202309843&authType=NAME_SEARCH&authToken=dpJo&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2Cidx%3A1-1-1%2CtarId%3A1437097405899%2Ctas%3Achristine%20lau">Christine's Portfolio</a>
			</div>
		</div>
	</div>

	<div class="clearfix stylistsBorder">
		<div class="col-xs-6 col-sm-4">
			<img class="img-responsive img-circle" src="https://secure.gravatar.com/avatar/b019c1175beace6d59539b741d673855.jpg?s=192&d=https%3A%2F%2Fslack.global.ssl.fastly.net%2F3654%2Fimg%2Favatars%2Fava_0005.png">
		</div>
		<div class="col-xs-12 col-sm-6 col-md-8">
			<h1 class="staffName">Celeste Layne</h1>

			<p class="blurb">Celeste specializes in east coast fashion and is an expert in layering for those cold and foggy days.  Her main focus is urban casual and is an adamant believer in comfort and manuverability. If you're the type of person that likes to dress for the seasons you are in good hands.</p>
			<div class="links">
				<a href="https://www.linkedin.com/profile/view?id=10600507&authType=NAME_SEARCH&authToken=fOSr&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2Cidx%3A1-1-1%2CtarId%3A1437098021817%2Ctas%3Aceleste%20la">Celeste's Portfolio</a>	<br>
			</div>
		</div>
	</div>

	<div class="clearfix stylistsBorder">
		<div class="col-xs-6 col-sm-4">
			<img class="img-responsive img-circle" src="https://s3-us-west-2.amazonaws.com/slack-files2/avatars/2015-04-27/4652407159_267d00bfdc4dd9af8ffe_192.jpg">
		</div>
		<div class="col-xs-12 col-sm-6 col-md-8">
			<h1 class="staffName">Tae Kim</h1>

			<p class="blurb">Tae is a firm believer in classic looks with a fun twist. He specializes in creating looks that can be worn in any situation that also has a bold accent that let's you stand out subtly and naturally. Fun accesories such as bow-ties, fun socks, and watches are Tae's bread and butter. His speciality is mainly in urban casual and business casual.</p>
			<div>
				<a class="links" href="https://www.linkedin.com/in/taekimsf">Tae's Portfolio</a>
			</div>
		</div>
	</div>
</div>