<!-- NAVBAR START -->
<header role="banner" class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid navCon">
    <div class="navbar-header">
      <button data-toggle="collapse-side" data-target=".side-collapse" data-target-2=".side-collapse-container" type="button" class="navbar-toggle pull-left"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
    </div>
    <div class="navbar-inverse side-collapse in">
      <nav role="navigation" class="navbar-collapse">
        <ul class="nav navbar-nav pull-left">
          <a href="#logo"><img class="navLogo" src="http://i.imgur.com/JmBLu4H.png"></a>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li class="anchor"><%= link_to 'Home', root_path, {class: "navLink"} %></li>
            <li class="anchor"><%= link_to 'Stylists', stylists_path, {class: "navLink"} %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<!-- NAVBAR END -->