<button id="contactModal" class="btn btn-info" data-toggle="modal" data-target="#modal-info">Contact us</button>

<!--Info Modal Templates-->
<div id="modal-info" class="modal modal-message modal-info fade" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa fa-envelope"></i>
            </div>
            <div class="modal-title">
            	<h1 id="supportH1">Contact us</h1>
            </div>

            <div class="modal-body">
            	<p id="contactInfo">Please send an email with your issue to taekimsf@gmail.com</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">OK</button>
            </div>
        </div> <!-- / .modal-content -->
    </div> <!-- / .modal-dialog -->
</div>
<!--End Info Modal Templates-->